@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --yellow: #2196f3; 
  --orange: #9c27b0; 
  --black: #4caf50; 
  --gray: #ff5722; 
  --profileShadow: 0px 4px 17px 2px rgba(255, 0, 0, 0.25); 
  --hrColor: #03a9f4;
  --cardColor: rgba(0, 255, 0, 0.64); 
  --buttonBg: linear-gradient(98.63deg, #e91e63 0%, #9c27b0 100%); 
  --inputColor: rgba(255, 0, 0, 0.07); 
  --photo: #ffeb3b;
  --video: #ff9800; 
  --location: #8bc34a; 
  --shedule: #607d8b;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  border: none;
  outline: none;
}
